language: scala

scala:
- 2.11.8

jdk:
- oraclejdk8

services:
  - postgresql

cache:
  directories:
  - "$HOME/.ivy2/cache"

before_cache:
- rm -rf $HOME/.ivy2/cache/com.typesafe.play/*
- rm -rf $HOME/.ivy2/cache/scala_*/sbt_*/com.typesafe.play/*
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print0 | xargs -n10 -0 rm

before_script:
  - psql -c "CREATE USER dbuser WITH PASSWORD 'dbuserpass';" -U postgres
  - psql -c 'CREATE DATABASE dbuserdatabase OWNER dbuser;' -U postgres

script: sbt ++$TRAVIS_SCALA_VERSION test