@(announcementForm: Form[AdminTool])(implicit messages: Messages)

@import helper.Implicits._
@import b3.vertical.fieldConstructor
@Common.navbar(None)

@b3.horizontal.form(routes.AdminController.announcementCheck, "col-md-2", "col-md-10") { implicit hfc =>

@b3.datepicker( announcementForm("startingDate"), 'value -> "15-11-2014" )(
announcementForm("endingDate"), 'value -> "31-12-2014" )(
'_label -> "Date range", "data-date-start-date" -> "10-11-2014")
@b3.text( announcementForm("announcement"), '_label -> "Announcement" )
@b3.submit('class -> "btn btn-default"){ Make Announcement }
}
