@(user: Option[User])(implicit messages: Messages, lang: Lang, flash: Flash)
@main("Submit Album"){
@Common.navbar(user)

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2> Insert album Here</h2>
        @flash.get("error").map { message =>
        <p class="bg-danger"> @message</p>
        }

        @* input name has to match with Album case class *@
        <form action='@controllers.routes.AlbumController.save' method="POST">
            <input name="artist" type="text" placeholder="artist"/>
            <input name="title" type="text" placeholder="title"/>
            <input type="submit" placeholder="submit your album">
        </form>

    </div>
</div>
}