@*********************
* This object comes from models folder*
*********************@

@(albums: Seq[Album])

<div class="container">
<table class="table">
    <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @for(album <- albums){
    <tr>
        <td>@album.artist</td>
        <td>@album.title</td>
        <td><a href="@routes.AlbumController.delete(album.id.get)">delete</a></td>
        <td><a href="@routes.AlbumController.edit(album.id.get)">edit</a></td>
    </tr>
    }
</table>
</div>