@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader, messages: Messages, flash: Flash)
@import b3.vertical.fieldConstructor
@Template.navbar(None)

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h1>Reset Password</h1>

        @flash.get("error").map { message =>
        <p class="bg-danger"> @message</p>
        }
        @b3.form(routes.UserController.handleResetPassword(tokenId)) {
        <fieldset>
            @b3.password( passwordsForm("password1"), '_hiddenLabel -> Messages("field.password"), 'placeholder ->
            Messages("field.password"), 'autofocus -> true )
            @b3.password( passwordsForm("password2"), '_hiddenLabel -> Messages("field.password.repeat"), 'placeholder
            -> Messages("field.password.repeat") )
            @b3.submit('class -> "btn btn-primary btn-block"){ @Messages("reset") }
        </fieldset>
        }
    </div>
</div>





