@(albumForm: Form[User])(implicit messages: Messages, lang: Lang)
@import helper._
@import b3.vertical.fieldConstructor

@main("Edit User") {
@Common.navbar()

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h1>Sign up</h1>

        @b3.form(routes.UserController.signUpCheck) {
        @b3.email( albumForm("email"), '_label -> "Email", 'placeholder -> "example@mail.com" )
        @b3.password( albumForm("password"), '_label -> "Password", 'placeholder -> "Password" )
        @b3.submit('class -> "btn btn-default"){ Sign Up }
        }

    </div>
</div>

}