@(user: Option[User])

@import controllers.UserController

<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap-datepicker/css/bootstrap-datepicker3.css")">

        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </head>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">aknay</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="@routes.HomeController.index">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">



            @if(user.isDefined){


            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">User
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@routes.UserController.user(0)"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="@routes.UserController.editUserInfo"><span class="glyphicon glyphicon-wrench"></span> Settings</a></li>
                    @if(user.get.role == Role.Admin){
                    <li><a href="@routes.AdminController.admin"><span class="glyphicon glyphicon-tower"></span> Admin Tool</a></li>
                    }
                </ul>
            </li>


            <li><a href="@routes.UserController.logout"><span class="glyphicon glyphicon-log-out"></span> Log out </a></li>
            }
            @if(!user.isDefined){
            <li><a href="@routes.UserController.signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="@routes.UserController.login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            }
        </ul>
    </div>
</nav>

</body>
</html>